[user]
    name = Chris
    email = christopherphongbui@gmail.com
	signingkey = B051C8FE657C454A
[init]
    defaultBranch = main 
[color]
    ui = auto 
[commit]
	gpgsign = true
[gpg]
    program = gpg 
[alias]
    last = log -1 HEAD 
    ol = log --oneline
    amend = commit --amend -S --no-edit
