[user]
    name = Chris
    email = christopherphongbui@gmail.com
	signingkey = 0865111B67864955
[init]
    defaultBranch = main 
[color]
    ui = auto 
[commit]
    gpgsign = true 
[gpg]
    program = gpg 
[alias]
    last = log -1 HEAD 
    ol = log --oneline
    amend = commit --amend -S --no-edit
