[user]
    name = Chris
    email = christopherphongbui@gmail.com
	signingkey = B051C8FE657C454A
[init]
    defaultBranch = main 
[color]
    ui = auto 
[core]
	editor = nvim 
	pager = cat
[commit]
	gpgsign = true
[gpg]
    program = gpg 
[alias]
    alias = "!git config -l | grep alias | cut -d" = " -f1"
    amend = commit --amend -S --no-edit
    last = log -1 HEAD 
    ol = log --oneline -10

    dir = "!sh -c 'git diff $(git branch --show-current) $(git branch --contains $(git merge-base HEAD main features) | grep -v \"^\\*\") --name-only | cut -d'/' -f1 | sort -u'"
