btop/
chromium/
dconf/
glow/
go/
htop/
kcalcrc
libreoffice/
mimeapps.*
nvim/plugin/
pavucontrol.ini
Postman/
pulse
QtProject.conf
spicetify
spotify
user-dirs.*
vesktop/*
vlc/*
WebCord/
zoom*
zsh/.zcompdump
