btop/
chromium/
dconf/
dunst/
glow/
go/
htop/
kcalcrc
libreoffice/
lsd/
neofetch/
pavucontrol.ini
Postman/
pulse
QtProject.conf
spicetify
spotify
vesktop/
vlc/
WebCord/

mimeapps.*
user-dirs.*
zoom*
zsh/.zcompdump
